* {
    box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
    color: #ffffff;
}

.nav {
	border: 1px solid black;
}

.nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

.nav li {
	float: left;
	padding: 5px;
    margin: 0 auto;
    background-color: #e5c100;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 20px;
	text-align: center;
	width: 14.28%;
}

.nav li a {
	display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li:hover {
	background-color: #237ea0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    border: 1px solid white;
}
.col-1 {width: 12.5%;}
.col-2 {width: 25%;}
.col-third{width: 16.66%}
.col-2nb {width: 25%; border: 1px solid transparent;}
.col-2up {width: 25%; float: right; margin: 0px 20px; height: 500px;}
.col-3 {width: 37.5%;}
.col-4 {width: 50%;}
.col-5 {width: 62.5%;}
.col-6 {width: 75%;}
.col-7 {width: 87.5%;}
.col-8 {width: 100%;}

.section {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

.section:hover {
	background-color: #6666cc;
}

.tag {
	text-align: center;
}

.article {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: justify;
	font-size: 20px;
}

.upcoming {
	text-align: left;
	padding: 10px;
}

.footer {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
    color: #ffffff;
}

body {
	background-image: url("cle_desktop.jpg");
	background-repeat: round;
	background-attachment: fixed;
}

.volunteering {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/volunteering.jpg");
	background-size: cover;
}

.generalevent {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/events.jpg");
	background-size: cover;	
}

.livemusic {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/music.jpg");
	background-size: cover;
}

.sporting {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/sports.jpg");
	background-size: cover;	
}

.about {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/about.jpg");
	background-size: cover;	
}

.links {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/links.jpg");
	background-size: cover;	
}