* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
table {
	margin:10px auto;
	width:75%;
	border-collapse:collapse;
}

tr {
	border: none;
}

th	{
	width:15%;
}
			
td	{
	text-align:center;
	border-right: 1px black solid;
	border-left: 1px black solid;
}

table caption {
	text-align:left;
	font-size:1.5em;
	background:#FFA500;
	color:black;
}

table {
	border:2px #FFA500 solid;
}

tr:nth-child(even) {
	background: #CCCCCC;
}

tr:nth-child(odd) {
	background: #FFFFFF;
}

.traffic-table {
	border-collapse: collapse;
}

.bottom-border {
	border-bottom: 2px #FFA500 solid;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    border: 1px solid transparent;
}

.col-2nb {width: 25%; border: 1px solid transparent;}
.col-2 {width: 50%;}

h1 {
	color: black;
}

.section {
	border: 1px solid black;
	padding: 15px;
	background-color: #eeeeee;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

body {
	background-image: url("cle_desktop.jpg");
	background-repeat: round;
	background-attachment: fixed;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 75%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 75%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}