* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #FFFFFF;
}

.header {
	border: 1px solid black;
	padding: 15px;
	background-color: #808080;
    color: #ffffff;
}

.nav {
	border: 1px solid black;
}

.nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

.nav li {
	float: left;
	padding: 5px;
    margin: 0 auto;
    background-color: #aaaaaa;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 20px;
	text-align: center;
	width: 50%;
}

.nav li a {
	display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li:hover {
	background-color: #237ea0;
}

table {
	margin:10px auto;
	max-width: 50%
	border-collapse:collapse;
}

tr {
	border: none;
}

th	{
	width:15%;
}
			
td	{
	text-align:center;
	border-right: 1px black solid;
	border-left: 1px black solid;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

table caption {
	text-align:left;
	font-size:1.5em;
	background:#EEEEEE;
	color:black;
	border: 1px black solid;
	font-size: 32px;
	padding: 15px;
}

table {
	border:2px #FFA500 solid;
}

/*tr:nth-child(even) {
	background: #CCCCCC;
}

tr:nth-child(odd) {
	background: #FFFFFF;
}*/

.traffic-table {
	border-collapse: collapse;
}

.bottom-border {
	border-bottom: 2px #FFA500 solid;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    border: 1px solid transparent;
}

.col-1 {width: 12.5%;}
.col-2 {width: 90%;}
.col-third{width: 90%}
.col-2nb {width: 5%; border: 1px solid transparent;}
.col-2up {width: 25%; float: right; margin: 0px 20px; height: 500px;}
.col-3 {width: 37.5%;}
.col-4 {width: 90%;}
.col-5 {width: 62.5%;}
.col-6 {width: 75%;}
.col-7 {width: 87.5%;}
.col-8 {width: 100%;}

.section {
	border: 1px solid black;
	padding: 15px;
	background-color: #808080;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

.article {
	border: 1px solid black;
	padding: 15px;
	background-color: #808080;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

.footer {
	border: 1px solid black;
	padding: 15px;
	background-color: #808080;
    color: #ffffff;
}

body {
	background-image: url("images/mobile_background.jpg");
	background-repeat: round;
	background-attachment: fixed;
}

#myInput {
    background-image: url('images/search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#findLocation {
	background-image: url('images/search.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%;
    font-size: 16px; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#findDate {
	background-image: url('images/search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#findTime {
	background-image: url('images/search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 5px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #FFA500;
}

#myTable tbody {
	width:95%;
}

.volunteering {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/volunteering.jpg");
	background-size: cover;
}

.generalevent {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/events.jpg");
	background-size: cover;	
}

.livemusic {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/music.jpg");
	background-size: cover;
}

.sporting {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/sports.jpg");
	background-size: cover;	
}

.about {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/about.jpg");
	background-size: cover;	
}

.links {
	border: 1px solid black;
	padding: 15px;
	background-color: #3333cc;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	background-image: url("images/links.jpg");
	background-size: cover;	
}